@use "../../scss/breakpoint" as *;

.header {
  padding: 0;
  margin: 0;
  height: 160px;
  display: flex;
  width: 100%;
  @include mobile {
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mobile {
      justify-content: start;
      img {
        width: 50px;
      }
    }
  }
  &__burger, &__sort {
    display: none;
    @include mobile {
      display: inline-flex;
    }
  }
  &__modal {
    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
    }
  }
}