@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans&display=swap');
@import "variables";

// components
@import "../components/Header/styles";
@import "../components/Filter/styles";
@import "../components/Sort/styles";
@import "../components/Tickets/styles";



// main

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  padding: 0;
  margin: 0;
  font-size: $font-size;
  font-family: $font-family;
  color: $text-color;
}

.container {
  max-width: 754px;
  margin: 0 auto;
  width: 100%;
}
.main {
  display: flex;
  justify-content: space-between;
}
.content {
  width: 502px;
  padding-bottom: 30px;
}